
html. body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

* {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	width: 100%;
	margin: 0;
	padding: 0;
}

header, nav, main {
	box-sizing: border-box;
}

body {
	background-color: #ffff;
}

img {
	margin-top: 0.5em;
}

hr {
	background-color: #EFCB68;
	margin-top: 7px;
	margin-bottom: 1em;
}

h1 {
	font-size: 2em;
	font-weight: bolder;
}

p{
	font-size: 1em;
	font-weight: 200;
}

ul {
	list-style: none;
	text-align: center;
}

li {
	display: inline;
	margin-left: 1.2em;
}

a {
	text-decoration: none;
	color: #BDDAA5;
}

a:hover{
	color: #EFCB68;
	text-shadow: #160C28;
}

a:visited {
	color:#373F51;
}

.headerLogo {
	float: left;
	min-width: 50px;
	border-radius: 5px;
	-webkit-filter: saturate(50%); /* Safari 6.0 - 9.0 */
  	filter: saturate(50%);
}

.headerTitle {
	text-align: right;
	position: relative;
	color: #373F51;
}

.header p {
	color: #373F51;
}

.featured {
	text-align: center;
	padding: 0.5em;
}

.thumbnail {
	width: 50%;
	height: auto;
	border-radius: 5px;
}

footer {
	position: absolute;
	text-align: center;
	margin-bottom: 0;
	background-color: #EFCB68;
	color:#373F51;
	font-size: 0.5em;
	padding: 2%;
}
